### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.vscode
fabricconfig/*.yaml
docker-compose/*.yaml
sshutil/*.yaml
sshutil/ssh_test.go
connectionprofile/*.yaml
network/*.yaml
fdtdata/*
fdt
sdkutil/cc_test.go